<uib-tabset active="activeTab1">
	<uib-tab index="0" heading="Output">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">Panel Title</h2>
			</div>
			<div class="panel-body">
				Panel Body
			</div>
			<div class="panel-footer">
				Panel Footer
			</div>
		</div>
	</uib-tab>
	<uib-tab index="1" heading="Markup">
		<pre prettyprint>&lt;div class="panel panel-primary"&gt;
	&lt;div class="panel-heading"&gt;
		&lt;h2 class="panel-title"&gt;Panel Title&lt;/h2&gt;
	&lt;/div&gt;
	&lt;div class="panel-body"&gt;
		Panel Body
	&lt;/div&gt;
	&lt;div class="panel-footer"&gt;
		Panel Footer
	&lt;/div&gt;
&lt;/div&gt;</pre>
	</uib-tab>
</uib-tabset>